@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    color:white;
    text-shadow:2px 2px black;
    margin: 0 auto;
}

.board{
    width: 100%;
}

@mixin row($h){
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #A6E0FF;
    height: $h;
    display: flex;
    justify-content: space-evenly;
    
}

.title_row{
    @include row(20vh); 
}

.submit_row{
    @include row(40vh);
}

  .result{
    @include row(40vh);
    display: block;
}

  @mixin btn($content){
      position: relative;
      height: 30vh;
      width: 30vh;
      border-radius: 50%;

      &:before{
        font-family: 'FontAwesome';
        font-size: 5rem;
        content: $content;
      }
  }

  .btn-scissors{
    @include btn("\f257");
  }

  .btn-stone{
    @include btn("\f255");
  }

  .btn-paper{
    @include btn("\f256");
  }

  .btn-game{
    @include btn("\f11b");
  }
 
  .red{
      background-color: red;
  }

  .green{
      background-color: green;
  }