.modal{
    position: absolute;
    width: 25%;
    height: 300px;
    top: 25%;
    left: 40%;
    background-color: #A6E0FF;
  }

  .modal_btn{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #A6E0FF;
      color: black;
      margin-top: 5%;
      margin-left: 5%;
  }

  .modal_text{ 
      text-align: center;
      font-size: 25px;
  }

  .modal_input{
      width: 60%;
      margin-left: 20%;
      height: 40px;
  }

  @media only screen and (max-width: 700px){
      .modal{
          width: 50%;
          left: 25%;
      }
  }

  @media only screen and (max-width: 360px){
      .modal_end{
          height: 200px;
      }
  }



