.submit{
    color: white;
    background-color:  #A6E0FF;
    border: none;
    width: 150px;
    opacity: 1.5;

    &:hover{
        color: black;
        opacity: 0.2;  
    }

}

.icon{
   font-size: 100px; 
}
